:root {
  --logo-height: 300px !important;
}

.logo {
  height: 300px !important;
  width: auto !important;
}

nav img {
  height: 300px !important;
  width: auto !important;
}

.header-logo-link img {
  height: 300px !important;
  width: auto !important;
}
