{
  "openapi": "3.0.1",
  "info": {
    "title": "Wizebot API",
    "description": "API de integração do Wizebot",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.wizebot.com.br/api/v1",
      "description": "Produção"
    }
  ],
  "paths": {
    "/whatsapp/template/list": {
      "post": {
        "summary": "Listar Modelos",
        "description": "Este endpoint retorna a lista de todos os templates de mensagem disponíveis para sua conta.",
        "tags": ["Mensagens"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de templates retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "1"
          },
          "message": {
            "type": "string",
            "example": "Templates listados com sucesso"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "0"
          },
          "message": {
            "type": "string",
            "example": "Mensagem de erro"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
